.container ul.items {
  list-style-type: none; }
  .container ul.items li {
    border-bottom: 1px solid #cbcbcb; }
    .container ul.items li h4 {
      font-size: 1.25em;
      line-height: 1em; }
    .container ul.items li span {
      color: gray; }
.container select {
  width: auto;
  height: auto;
  border: auto;
  padding: auto; }
